<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= book.title %></title>
  </head>
  <body>
    <header>
      <div><%= book.title %></div>
    </header>
    <section>
      <div><%= book.pages %></div>
      <div><%= book.plot %></div>
      <a href="/author/<%= book.author_id %>"><%= book.author_id %></a>
      <div>
        <div>Genres:</div>
        <% genres.forEach((genre) => { %>
        <a href="/genre/<%= genre.genre_id %>"><%= genre.genre %></a>
        <% }) %>
      </div>
    </section>
  </body>
</html>
