<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./styles/styles.css" />
    <script src="/scripts/forms.js" defer></script>
  </head>
  <body>
    <div class="background-font"></div>
    <header>
      <div class="home-title"><%= title %></div>
    </header>
    <main>
      <div class="genres-title">Genres</div>
      <section class="home-genres home-section">
        <% genres.forEach((genre) => { %>
        <a class="home-genre-link" href="/genre/<%= genre.id %>">
          <div class="home-genre">
            <img
              class="genre-image"
              src="/assets/images/<%= genre.image %>"
              alt=""
            />
            <div><%= genre.genre %></div>
          </div>
        </a>
        <% }) %>
      </section>
      <div class="authors-title">Authors</div>
      <section class="home-authors home-section">
        <% letters.forEach((letter) => { %>
          <div class="authors-by-letter">
          <div class="letter"><%= letter %></div>
          <% authors.forEach((author) => { %>
            <% if (author.name[0].toLowerCase() === letter) { %>
              <a href="/author/<%= author.id %>">
                <div class="author-name"><%= author.name %></div>
              </a>
            <% } %>
          <% }) %>
          </div>
        <% }) %>
      </section>
      <div class="forms-intro">Add new Books, Authors and Genres using the Forms below.</div>
      <section class="add-forms home-section">
        <div class="newbook">
          <button class="plus-button" aria-label="open new book form"><img class="plusimg" src="/assets/icons/plus.png" alt=""></button>
          <div>Add a Book</div>
          <form class="newbook-form home-form hidden" action="/book" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required />
            <label for="pages">Pages:</label>
            <input type="number" name="pages" id="pages" required />
            <label for="plot">Plot:</label>
            <textarea name="plot" id="plot"></textarea>
            <label for="author_id">Author:</label>
            <select name="author_id" id="author_id">
              <option value="none">Not in the list</option>
              <% authors.forEach((author) => { %>
              <option value="<%= author.id %>"><%= author.name %></option>
              <% }) %>
            </select>
            <fieldset>
              <legend>Add at least one genre for the Book</legend>
              <div class="fieldset-genres">
              <% genres.forEach((genre) => { %>
              <div>
              <input
                type="checkbox"
                value="<%= genre.id %>"
                name="book_genres"
                id="genre <%= genre.id %>"
              />
              <label for="genre <%= genre.id %>"><%= genre.genre %></label>
              </div>
              <% }) %>
            </div>
            </fieldset>
            <button type="submit">Submit Book</button>
          </form>
        </div>
        <div class="newgenre">
          <button class="plus-button" aria-label="open new genre form"><img class="plusimg" src="/assets/icons/plus.png" alt=""></button>
          <div>Add a Genre</div>
          <form class="newgenre-form home-form hidden" action="/genre" method="POST">
            <label for="newgenre">Genre:</label>
            <input type="text" id="newgenre" name="newgenre" required />
            <button type="submit">Submit Genre</button>
          </form>
        </div>
        <div class="newauthor">
          <button class="plus-button" aria-label="open new author form"><img class="plusimg" src="/assets/icons/plus.png" alt=""></button>
          <div>Add an Author</div>
          <form class="newauthor-form home-form hidden" action="/author" method="POST">
            <label for="newauthor">Author:</label>
            <input type="text" name="newauthor" id="newauthor" required />
            <button type="submit">Submit Author</button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
