<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <div><%= title %></div>
    </header>
    <main>
      <section>
        <% genres.forEach((genre) => { %>
        <a href="/genre/<%= genre.id %>">
          <div><%= genre.genre %></div>
          <img src="/assets/images/<%= genre.image %>" alt="" />
        </a>
        <% }) %>
      </section>
      <section>
        <% authors.forEach((author) => { %>
        <a href="/author/<%= author.id %>">
          <div><%= author.name %></div>
        </a>
        <% }) %>
      </section>
    </main>
  </body>
</html>
